$max-width: 1200px;
$nav-highlight: #FCFCFC;
$nav-highlight-hover: #E2E2E2;

body {
    display: grid;
    margin: 0 auto;
    max-width: $max-width;
}
nav {
    padding: 10px;
    ul {
        list-style-type: none;
        padding: 1px;
        li {
            float: left;
            padding: 10px 20px 10px 20px;
            background-color: $nav-highlight;
            border: 1px solid #B6B6B6;
            a {
                text-decoration: none;
                color: none;
            }
        }:hover {
            color: rebeccapurple;
            background-color: $nav-highlight-hover;
        }
    }
}