$html-background: #F9FFF8;
$body-background: #FFFFFF;

$max-width: 1200px;
$nav-highlight: #FCFCFC;
$nav-highlight-hover: #E2E2E2;

html {
    background-color: $html-background;
    padding: 10px 0px 10px 0px;
}

p {justify-content: space-evenly;}

.default-border {border: 1px solid black;}

body {
    padding: 10px 0px 10px 0px;
    margin: 0 auto;
    max-width: $max-width;
    background-color: $body-background;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.10);
    .row {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-auto-rows: minmax(50px, auto);
        grid-gap: 10px;
        padding: 4px 20px 4px 20px;
        .nav-left {
            grid-column: 1/8;
            padding: 0px 0px 20px 0px;
            ul {
                list-style-type: none;
                li {
                    float: left;
                    padding: 10px 20px 10px 20px;
                    background-color: $nav-highlight;
                    border: 1px solid #B6B6B6;
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }:hover {
                    color: rebeccapurple;
                    background-color: $nav-highlight-hover;
                }
            }
        }
        .nav-right {
            grid-column: 8/9;
            padding: 20px 20px 20px 20px;
            button {
                padding: 7px 10px 7px 10px;
                background-color: $nav-highlight;
                border: 1px solid #B6B6B6;
                color: black;
            }
            :hover {
                color: rebeccapurple;
                background-color: $nav-highlight-hover;
            }
        }
        .full-col-8 {
            grid-column: 1/9;
            padding: 0px 20px 0px 20px;
        }
        .temp-col-4 {
            grid-column: 1/9; 
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: minmax(50px, auto);
            padding: 10px 20px 10px 20px;
            .col2-1 {
                grid-column: 1/3;
                padding: 0px 20px 0px 20px;
            }
            .col2-2 {
                grid-column: 3/5;
                padding: 0px 20px 0px 20px;
            }
            .col4-1{
                grid-column: 1/2;
                padding: 10px 20px 0px 20px;
            }
            .col4-2{
                grid-column: 2/3;
                padding: 10px 20px 0px 20px;
            }
            .col4-3{
                grid-column: 3/4;
                padding: 10px 20px 0px 20px;
            }
            .col4-4{
                grid-column: 4/5;
                padding: 10px 20px 0px 20px;
            }
            .col8 {
                grid-column: 1/5;
                padding: 10px 20px 0px 20px;
            }
        }
    }
}