$top-bottom-bg: rgba(255,255,255,0.96);
$active-hover-color: #FF4D4D;
$max-width: 960px;
$screen-break: 600px;

*{margin:0; padding: 0;}

html {scroll-behavior: smooth;}

.border-normal {border: 1px solid black;}
.box-shadow {box-shadow: 0 3px 3px 0 rgba(0,0,0,0.10);}
.align-left {text-align: left;}
.align-right {text-align: right;}
.align-center {text-align: center;}
.text-bold {font-weight: bold;}



body#content {
    font-family: 'Lato', sans-serif;
    width: 100%;
    background-image: url(../imgs/common/wall.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    #scrollNow {
        position: fixed;
        right: 1.5%;
        bottom: 2.5%;
        float: right;
        height: 1.7em;
        width: 1.7em;
        z-index: 15;
        visibility: hidden;
        opacity: 0;
        background-color: black;
        color: white;
        text-align: center;
        font-size: 1.6em;
        font-weight: bold;
        border: 1px solid black;
        border-radius: 50%;
        transition: visibility 0.5s ease, opacity 0.5s ease;
    }
    a {
        text-decoration: none;
        color: black;
        &:hover {
            color: $active-hover-color;
        }
    }
    h1, h2, h3 {
        margin-bottom: 0.2em;
    }
    #page-start {
        visibility: hidden;
        margin-bottom: 1em;
    }
    #presentation {
        background: rgba(0,0,0,0.8);
        color: white;
        position: fixed;
        height: 100%;
        width: 100%;
        text-align: left;
        padding-top: 5%;
        display: grid;
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: repeat(12, 1fr);
        display: -ms-grid;
        -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        #presentation-logo {
            grid-column: 3/8;
            grid-row: 4/8;
            -ms-grid-column: 3;
            -ms-grid-column-span: 5;
            -ms-grid-row: 3;
            -ms-grid-row-span: 5;
            text-align: right;
            padding-top: 5em;
            border-right: 3px solid white;
        }
        .presentation-member-1 {
            grid-column: 8/11;
            grid-row: 4;
            -ms-grid-column: 8;
            -ms-grid-column-span: 4;
            -ms-grid-row: 3;
            -ms-grid-row-span: 1;
        }
        .presentation-member-2 {
            grid-column: 8/11;
            grid-row: 5;
            -ms-grid-column: 8;
            -ms-grid-column-span: 4;
            -ms-grid-row: 4;
            -ms-grid-row-span: 1;
        }
        .presentation-member-3 {
            grid-column: 8/11;
            grid-row: 6;
            -ms-grid-column: 8;
            -ms-grid-column-span: 4;
            -ms-grid-row: 5;
            -ms-grid-row-span: 1;
        }
        .presentation-member-4 {
            grid-column: 8/11;
            grid-row: 7;
            -ms-grid-column: 8;
            -ms-grid-column-span: 4;
            -ms-grid-row: 6;
            -ms-grid-row-span: 1;
        }
        .presentation-member-spacing {
            padding: 1.5em;
        }
    }
    #nav-bar {
        display: grid;
        background-color: $top-bottom-bg;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: minmax(10px, auto);
        display: -ms-grid; //MS IE Support
        -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        width: 100%;
        position: fixed;
        top: 0;
        overflow: hidden;
        padding-top: 1.2em;
        padding-bottom: 1.2em;
        grid-template-areas: "nav-logo nav-logo nav-items nav-items nav-items nav-items nav-items nav-items nav-items nav-items nav-resize nav-resize" ;
        #nav-logo {
            grid-area: nav-logo;
            color: black;
            padding-left: 1.2em;
            padding-right: 1.2em;
            text-align: center;
        }
        #nav-items {
            grid-area: nav-items;
            -ms-grid-row: 1;
            -ms-grid-column: 4;
            -ms-grid-column-span: 7;
            text-align: right;
            color: black;
            padding-top: 0.3em;
            font-weight: bold;
            ul {
                display: flex;
                justify-content: flex-end;
                list-style-type: none;
                li {
                    margin: 0px 4px 0px 4px;
                    text-align: center;
                    min-width: 3em;
                    padding-left: 0.15em;
                    padding-right: 0.15em;
                    a {
                        color: black;
                        text-decoration: none;
                        transition: color 0.5s ease;
                    }
                    .active{
                        color: $active-hover-color;
                    }
                    &:hover {
                        a {
                            color: $active-hover-color;
                        }
                    }
                }
            }
        }
        #nav-resize {
            grid-area: nav-resize;
            -ms-grid-row: 1;
            -ms-grid-column: 11;
            -ms-grid-column-span: 2;
            color: black;
            text-align: center;
            button {
                margin: 0px 4px 0px 4px;
                border: none;
                background: none;
                padding: 0.3em 0.7em 0.3em 0.7em;
                font-weight: bold;
                font-size: large;
                transition: color 0.5s ease;
                &:hover {
                    color: $active-hover-color;
                }
            }
        }
    }
    
    #page-content {
        max-width: $max-width;
        background: white;
        margin: 0 auto;
        margin-top: 6.5em;
        margin-bottom: 2em;
        padding: 1.5em 2em 1em 2em;
        hr {
            border-top: 1px solid black;
            margin-top: 0.8em;
        }
        .row {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-auto-rows: minmax(10px, auto);
            grid-gap: 1em;
            display: -ms-grid; //MS IE Support
            -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-gap: 5px;
            padding-top: 0.8em;
            padding-bottom: 0.8em;
            .form {
                padding: inherit;
                grid-column: 1/13;
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-auto-rows: minmax(10px, auto);
                grid-gap: 1em;
                .form-center-col2-1 {
                    grid-column: 2/7;
                }
                .form-center-col2-2 {
                    grid-column: 7/12;
                }
                .form-full-col1-1 {
                    grid-column: 2/12;
                }
                .form-product-col3-1 {
                    grid-column: 1/5;
                }
                .form-product-col3-2 {
                    grid-column: 5/9;
                }
                .form-product-col3-3 {
                    grid-column: 9/13;
                }
                .form-product-cart {
                    padding: 1em 1em 1em 1em;
                    border: 1px solid #E1E1E1;
                    text-align: center;
                }
                .form-product-item {
                    padding: 1.5em 0em 1em 0em;
                    text-align: center;
                    border: 1px solid #E1E1E1;
                    p {
                        font-size: 1em;
                    }
                    img {
                        height: 13em;
                        box-shadow: 0 10px 10px 0 rgba(0,0,0,0.30);
                    }
                    .album-name {
                        margin-top: 0.5em;
                        font-weight: bolder;
                        font-size: 2em;
                        text-decoration: none;
                        &:hover {
                            color: black;
                        }
                    }
                    .artist-name {
                        margin-top: -0.6em;
                        font-size: 1.2em;
                        font-weight: bold;
                        text-decoration: none;
                        &:hover {
                            color: black;
                        }
                    }
                    .cost {
                        margin-top: 1.5em;
                    }
                    select {
                        width: 4.5em;
                    }
                }
                p {
                    margin-bottom: 0.4em;
                }
            }
            .col1-1 {
                grid-column: 1/13;
                -ms-grid-column: 1;
                -ms-grid-column-span: 12;
            }
            .col2-1 {
                grid-column: 1/7;
                -ms-grid-column: 1;
                -ms-grid-column-span: 6;
            }
            .col2-2 {
                grid-column: 7/13;
                -ms-grid-column: 7;
                -ms-grid-column-span: 6;
            }
            .col4-1 {
                grid-column: 1/4;
                -ms-grid-column: 1;
                -ms-grid-column-span: 3;
            }
            .col4-2 {
                grid-column: 4/7;
                -ms-grid-column: 4;
                -ms-grid-column-span: 3;
            }
            .col4-3 {
                grid-column: 7/10;
                -ms-grid-column: 7;
                -ms-grid-column-span: 3;
            }
            .col4-4 {
                grid-column: 10/13;
                -ms-grid-column: 10;
                -ms-grid-column-span: 3;
            }
            input[type="text"] {
                width: 89%;
                padding: 0.5em 1em 0.5em 1em;
            }
            .required {
                &:focus {
                    box-shadow: 4px 4px 20px rgba(200, 0, 0, 0.85);   
                }
            }
            .btn {
                padding: 0.2em 1em 0.2em 1em;
            }
            select {
                width: 97%;
                padding: 0.5em 1em 0.5em 1em;
            }
            textarea#feedbackcomments {
                min-width: 90%;
                width: 90%;
                max-width: 90%;
                min-height: 5em;
                padding: 0.5em 1em 05em 1em;
            }
        }
    }
    
    #editor {
        max-width: $max-width;
        background: white;
        margin: 0 auto;
        margin-top: 2em;
        margin-bottom: 2em;
        padding: 1em 2em 1.5em 2em;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: minmax(10px, auto);
        grid-gap: 1em;
        display: -ms-grid; //MS IE Support
        -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        #title-student {
            grid-column: 1/13;
            -ms-grid-row: 1;
            -ms-grid-column: 1;
            -ms-grid-column-span: 12;
            padding-bottom: 1em;
        }
        #editor-img {
            grid-column: 1/3;
            -ms-grid-row: 2;
            -ms-grid-column: 1;
            -ms-grid-column-span: 2;
            img{
                border-radius: 50%;
                width: 6em;
            }
        }
        #editor-details {
            grid-column: 3/8;
            -ms-grid-row: 2;
            -ms-grid-column: 3;
            -ms-grid-column-span: 10;
            border-right: 1px solid black;
        }
        #editor-id {
            grid-column: 8/13;
        }
    }
    
    #footer {
        background-color: $top-bottom-bg;
        position: relative;
        width: auto;
        bottom: 0;
        padding: 0em 2em 2em 2em;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: minmax(10px, auto);
        display: -ms-grid; //MS IE Support
        -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        .pages {
            padding-top: 2em;
            grid-column: 1/10;
            -ms-grid-row: 2;
            -ms-grid-column: 1;
            -ms-grid-column-span: 8;
            a {
                padding-left: 0.2em;
                padding-right: 0.2em;
            }
        }
        .copyright {
            padding-top: 2em;
            grid-column: 10/13;
            -ms-grid-row: 2;
            -ms-grid-column: 9;
            -ms-grid-column-span: 3;
        }
    }
    @media only screen and (max-width: $screen-break) {
        #presentation {
            position: fixed;
            height: 100%;
            width: 100%;
            padding-top: 5%;
            display: grid;
            grid-template-rows: repeat(6, 1fr);
            grid-template-columns: repeat(8, 1fr);
            #presentation-logo {
                grid-column: 1/5;
                grid-row: 2/6;
                padding-top: 10.5em;
                img {
                    width: 13em;
                }
            }
            .presentation-member-1 {
                grid-column: 5/7;
                grid-row: 2;
            }
            .presentation-member-2 {
                grid-column: 5/7;
                grid-row: 3;
            }
            .presentation-member-3 {
                grid-column: 5/7;
                grid-row: 4;
            }
            .presentation-member-4 {
                grid-column: 5/7;
                grid-row: 5;
            }
        }
        #nav-bar {
            display: grid;
            background-color: $top-bottom-bg;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(1, minmax(5px, auto));
            grid-template-areas:
                "nav-items nav-items nav-items nav-items nav-resize";
            #nav-logo {
                display: none;
                grid-area: nav-logo;
            }
            #nav-items {
                grid-area: nav-items;
                ul {
                    justify-content: center;
                }
            }
            #nav-resize {
                grid-area: nav-resize;
            }
        }
        #page-content {
            margin-top: 4.5em;
        }
        #editor {
            margin-top: 0em;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: repeat(4, auto);
            #title-student {
                grid-column: 1/7;
                grid-row: 1/1;
            }
            #editor-img {
                grid-column: 2/6;
                grid-row: 2/2;
                text-align: center;
                img {width: 50%;}
            }
            #editor-details {
                grid-column: 1/7;
                grid-row: 3/3;
                border-right: none;
                border-bottom: 1px solid black;
                padding-bottom: 1em;
            }
            #editor-id {
                grid-column: 1/7;
                grid-row: 4/4;
            }
        }
        #footer {
            margin-top: 0em;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            .pages {
                padding-top: 2em;
                grid-column: 1/5;
                grid-row: 1/1;
                text-align: center;
            }
            .copyright {
                padding-top: 2em;
                grid-column: 1/5;
                grid-row: 2/2;
                text-align: center;
            }
        }
    }
}